################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Br3D/Br3D/bin
/Br3D/Br3D/obj
/Br3D/Src/BrModel/bin
/Br3D/Src/BrModel/obj
/Br3D/Src/hanee.ThreeD/bin/x86/Debug
/Br3D/Src/hanee.ThreeD/obj/x86/Debug
/Br3D/Src/hanee.Geometry/bin/x86/Debug
/Br3D/Src/hanee.Geometry/obj/x86/Debug
/Br3D/Src/hanee.Cad.Tool/bin/x86/Debug
/Br3D/Src/hanee.Cad.Tool/obj/x86/Debug
/Br3D/Src/hanee.ThreeD/bin/x86/Release
/Br3D/Src/hanee.ThreeD/obj/x86/Release
/Br3D/Src/hanee.Geometry/bin/x86/Release
/Br3D/Src/hanee.Geometry/obj/x86/Release
/Br3D/Src/hanee.Cad.Tool/bin/x86/Release
/Br3D/Src/hanee.Cad.Tool/obj/x86/Release
